@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend:wght@100..900&display=swap');
.wrapper{
	background: radial-gradient(50% 75% at 50% -25%, #0b1935 0%, #02040E 100%)
}
.h1 {
	color: white;
	font-family: 'Lexend', sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-size: 30px;
	font-style: normal;
}

.input{
	color: white;
    letter-spacing: inherit;
    border: 0px;
    height: 3em;
    margin: 0px;
    display: block;
    min-width: 0px;
    width: 100%;
    padding: 16.5px 14px;
	background: #282d38;
	border-radius: 12px;
	font-weight: 300;
}

input:invalid {
	color: white;
    letter-spacing: inherit;
    border: 1px solid #f64527;
    height: 3em;
    margin: 0px;
    display: block;
    min-width: 0px;
    width: 100%;
    padding: 16.5px 14px;
	background: #282d38;
	border-radius: 12px;
	font-weight: 300;
}
.form{
	background: #ffffff0d;
	width: 50%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.logo{
	display: flex;
	align-items: center;
	gap: 5px;
	position: absolute;
	top: 30px;
	left: 30px;
	color: white;
}
.button{
	background-image: linear-gradient(to right, #D8AE5E, #3A82F7) !important;
	width: 50%;
	height: 50px;
	border-radius: 100px;
	font-family: 'Lexend', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
.label{
	width: 50%;
}
.error{
	color: #f64527;
	font-weight: 400;
	font-size: 13px;
}