.viewName {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(to right, #d8ae5e, #3a82f7);
	background-size: contain;
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-weight: 900;
	font-size: 34px;
	font-style: normal;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}
