@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lexend:wght@100..900&display=swap');

.div {
	@apply bg-[#282b3a] text-white rounded-[20px] min-h-[15vh] flex cursor-pointer p-3 max-w-[15vw];
	word-wrap: break-word;
}
.text {
	color: white;
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-size: 15px;
	font-style: normal;
}
